<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> Bargain books</h1>
    <h2>Here are the books priced less than £20:</h2>
    <ul>
      <% for(let i = 0; i < bargainBooks.length; i++) { %>
      <li><%= bargainBooks[i].name %> £<%= bargainBooks[i].price %></li>
      <% } %>
    </ul>
  </body>
</html>
